<article class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="article" role="main">
	<section class="col-lg-12 col-md-12 col-xs-12 main_content" role="region">	
		<div translate class="centerGeneral pageTitle">information.ct.title</div>
        <div class="centerGeneral left">
            <div translate="information.ct.descripcion"></div>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> 
            <a ng-href="{{CTModelCtrl.linkPDF}}" target="_blank" 
                translate="information.ct.pdf.link">
            </a>
        </div>
        
            
        <div class="panel panel-info evaluacion_forms">
            <legend translate="information.ct.seleccion"></legend>
            <p translate="information.ct.seleccionInfo"></p>
            <label translate="information.ct.empleados".empleados></label>
            <div class="evaluacion_formselect" ng-if="CTModelCtrl.isVisibleLeader">
                <select class="form-control" ng-model="CTModelCtrl.empleado.info"
                    ng-options="empleado.firstSurnameEmployee + ' ' + empleado.secondSurnameEmployee + ', ' + empleado.nameEmployee for empleado in CTModelCtrl.empleadosLeaderUser"
                    ng-change="CTModelCtrl.getCTModelsEmployee(CTModelCtrl.empleado.info.employeeId)">
                        <option value="" translate="information.ct.select.combo.employee"></option>
                </select>
            </div>
            <div class="evaluacion_formselect" ng-if="CTModelCtrl.isVisibleMando">
                <select class="form-control" ng-model="CTModelCtrl.empleado.info"
                    ng-options="empleado.firstSurname + ' ' + empleado.secondSurname + ', ' + empleado.name for empleado in CTModelCtrl.empleados track by empleado.id"
                    ng-change="CTModelCtrl.getCTModelsEmployee(CTModelCtrl.empleado.info.id)">
                        <option value="" translate="information.ct.select.combo.employee"></option>
                </select>
            </div>
            <label translate="information.ct.evaluadores" ng-if="CTModelCtrl.isVisibleMando"></label> 
            <div class="evaluacion_formselect" ng-if="CTModelCtrl.isVisibleMando">
                <select class="form-control" ng-model="CTModelCtrl.leader.info"
                        ng-options="leader.firstSurname + ' ' + leader.secondSurname + ', ' + leader.name for leader in CTModelCtrl.leaders track by leader.id"
                        ng-change="CTModelCtrl.changeEvaluator(CTModelCtrl.leader.info.id)">
                        <option value="" translate="information.ct.select.combo.leader"></option>
                </select>
            </div>	
        </div>
        
        <div ng-if="CTModelCtrl.CTResults" id="result_table" >
            <table class="table table_consulta" ng-if="CTModelCtrl.CTResults.length>0">
                <tbody>
                    <tr>
                        <th translate="information.ct.cabecera.fecha"></th>
                        <th translate="information.ct.cabecera.nomEmp"></th>
                        <th translate="information.ct.cabecera.nomEval"></th>
                        <th translate="information.ct.cabecera.principal"></th>
                        <th translate="information.ct.cabecera.second"></th>
                        <th translate="information.ct.cabecera.third"></th>
                        <th translate="information.ct.cabecera.control"></th>
                    </tr>
                    <tr ng-repeat="result in CTModelCtrl.CTResults" ng-click="CTModelCtrl.showResult(result)" 
                            ng-class="{'selected-result': result.selected}">
                        <td class="cs1"><p>{{result.date | date:'dd-MM-yyyy'}}</p></td>
                        <td class="cs2"><p>{{result.employee}}</p></td>
                        <td class="cs3"><p>{{result.leader}}</p></td>
                        <td class="cs4">
                            <p>{{result.principal | translate}} <span class="circle" ng-class="'{{result.principalClass}}'"></span></p>
                        </td>
                        <td class="cs4">
                            <p>{{result.second | translate}} <span class="circle" ng-class="'{{result.secondClass}}'"></span></p>
                        </td>
                        <td class="cs4">
                            <p>{{result.third | translate}} <span class="circle" ng-class="'{{result.thirdClass}}'"></span></p>
                        </td>
                        <td class="cs4"><p>{{result.control | translate}}</p></td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="CTModelCtrl.employeeId != null && CTModelCtrl.CTResults.length === 0">
                <p class="centerGeneral" translate="information.ct.noresults"></p>
		    </div>
            <button ng-if="CTModelCtrl.employeeId != null" class="boton_general mt_20 resultsButton" type="button" data-ng-click="CTModelCtrl.newCTResult()" 
                translate="information.ct.button.new">
            </button>
        </div>
        
        <div id="show_result" ng-if="CTModelCtrl.CTResult">
            <table id="questions_table" class="table table_evaluacion centerGeneral">
                <tr ng-repeat="q in CTModelCtrl.Questions" ng-class="'{{q.styleClass}}'">
                    <td translate="{{q.key}}"></td>
                    <td class="floatRight">
                        <span ng-if="CTModelCtrl.newCtResult" >
                                <label class="checkB" ng-class="{'checkedB':q.value==2}">
                                    <input type="checkbox" name="answer_{{$index}}" ng-model="q.value" ng-true-value="2"></input>
                                    {{'information.ct.answer.yes' | translate}}
                                </label>
                                <label class="checkB" ng-class="{'checkedB':q.value==0}">
                                    <input type="checkbox" name="answer_{{$index}}" ng-model="q.value" ng-true-value="0"></input>
                                    {{'information.ct.answer.no' | translate}}
                                </label>
                                <label class="checkB" ng-class="{'checkedB':q.value==1}">
                                    <input type="checkbox" name="answer_{{$index}}" ng-model="q.value" ng-true-value="1"></input>
                                    {{'information.ct.answer.na' | translate}}
                                </label>
                     
                        </span>
                        <span ng-if="!CTModelCtrl.newCtResult">{{q.value}}</span>
                    </td>
                </tr>
            </table>
            <button id="calculateResultBtn" ng-if="CTModelCtrl.newCtResult" class="boton_general mt_20" type="button" 
                data-ng-click="CTModelCtrl.calculateCTResult()" translate="information.ct.button.calculate">
            </button>
            <button id="saveResultBtn" ng-if="CTModelCtrl.newCtResult" class="boton_general mt_20 resultsButton" type="button" 
                data-ng-click="CTModelCtrl.saveCTResult()" translate="information.ct.button.save">
            </button>
            
            <div ng-if="CTModelCtrl.ResultEvaluation">
                <div>
                    <span translate="information.ct.model.principal"></span>
                    <span translate="{{CTModelCtrl.ResultEvaluation.principal.key}}"></span>
                    <span class="circle" ng-class="'{{CTModelCtrl.ResultEvaluation.principal.class}}'">
                </div>
                <div>
                    <span translate="information.ct.model.second"></span>
                    <span translate="{{CTModelCtrl.ResultEvaluation.second.key}}"></span>
                    <span class="circle" ng-class="'{{CTModelCtrl.ResultEvaluation.second.class}}'">
                </div>
                <div>
                    <span translate="information.ct.model.third"></span>
                    <span translate="{{CTModelCtrl.ResultEvaluation.third.key}}"></span>
                    <span class="circle" ng-class="'{{CTModelCtrl.ResultEvaluation.third.class}}'">
                </div>
                <div>
                    <span translate="information.ct.model.control"></span>
                    <span translate="{{CTModelCtrl.ResultEvaluation.control}}"></span>
                </div>
            </div>
        </div>
    </section>
    
    
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{CTModelCtrl.Modal.title | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{CTModelCtrl.Modal.msg | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="CTModelCtrl.Modal.action()" data-dismiss="modal">{{CTModelCtrl.Modal.button | translate}}</button>
            </div>
            </div>
        </div>  
    </div>
</article>