html,
body,
table,
tr,
td,
th,
tbody{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
}

.navbar,
.literal_movil,
.button_evaluaciones_submit,
#myModalGuardado12345,
#myModaldescipcion1,
.bs-docs-footer,
.tc-chart-js-legend,
.textarea_label,
.panel-info{
	display: none;
}
.table_evaluacion{
	margin: 0 auto;
}
.table_evaluacion.table button {
	background-color: #969696;
	border: 1px solid #5d5d5d;
	padding: 5px;
	height: 15px;
	width: 80px;
	/*cambios para imprimir*/
	padding: 0px;
	text-indent: -9999px;
	margin: 0px;
}
h2{
	margin: 0;
	background-color: #365986;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 10px;
	text-align: center;
	margin-top: 5px;
}
h3{
	background-color: #e3dfe7;
	margin: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 9px;
	text-align: center;
	margin-top: 5px;
}

.table_evaluacion td,
.table_evaluacion th{
	width: 100px;
	font-size: 8px;
	height: 20px;
	text-align: center;
}

.table_evaluacion_textarea,
.table_textarea_tittle{
	width: 300px;
	margin: 0;
}
.table_evaluacion_textarea select,
.table_evaluacion_textarea textarea{
	width: 290px;
	font-size: 8px;
}

.table_evaluacion_textarea textarea{
	height: 70px;
}

.clase_print{
	width: 716px;
	margin: 0 auto;
}

.clase_print .centerGeneral {
	width: 100%;
    margin: 0 auto;
}

.clase_print_observacion_left{
	width: 300px;
	float: left;
}

.clase_print_observacion_left.leader{
	margin-top: 70px;
}

select{
	-moz-appearance: window;
	-webkit-appearance: none;
	border: 0px solid transparent;
}

select::-ms-expand {
    display: none;
}

.calificacion_print{
	width: 400px;
	float: right;
	height: 265px;
	visibility: visible;
	margin-top: 10px;
}

#chartdiv {
	width: 100%;
	height: 210px;
	font-size: 11px;
}

#chartdiv canvas{
	width: 400px;
    height: 200px;
	margin-top: 5px;
}

.nota_calculada{
	height: 56px;
    text-align: center;
	background-color: #365986;
    color: white;
    font-size: 50px;
}

.lt0{
	background-color: #5d5d5d;
	color: white;
}

.table_evaluacion.table button.bt1.activeBtn,
.lt1{
	color: white;
	background-color: #e80000;
}
.table_evaluacion.table button.bt2.activeBtn,
.lt2{
	color: white;
	background-color: #fd7c7c;
}
.table_evaluacion.table button.bt3.activeBtn,
.lt3{
	color: white;
	background-color: #fcd605;
}
.table_evaluacion.table button.bt4.activeBtn,
.lt4{
	color: white;
	background-color: #92d050;
}
.table_evaluacion.table button.bt5.activeBtn,
.lt5{
	color: white;
	background-color: #00b050;
}
.table_evaluacion.table button.bt6.activeBtn,
.lt6{
	color: white;
	background-color: #0070c0;
}

.lt0 span,
.lt1 span,
.lt2 span,
.lt3 span,
.lt4 span,
.lt5 span,
.lt6 span{
	padding: 1px;
	font-weight: bold;
}

.select_competencias{
	margin-top: 5px;
}
.label_datos_evaluacion{
	line-height: 20px;
	font-size: 20px;
	width: 100%;
	background-color: #365986;
	color: white;
	text-align: center;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

textarea{
	border: 0px solid transparent;
	background-color: transparent;
	resize: none;
}

.clase_print_observacion_left{
	display: inline-block;
}

.no_mostrar_imprimir {
    display: none;
}