<article class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="article" role="main">
  <section class="main_content">
    <div role="region" class="centerGeneral">
      <div class="table_titulo col-xs-12">
        <h2 translate translate-values="{year: WageLimitsCtrl.yearHTML}">increments.limits.title</h2>
      </div>
      <div class="form-horizontal section_increments col-xs-12">
        <div class="form-group col-lg-5">
          <label class="col-sm-5 col-lg-5 control-label" translate>increments.limits.combo.directions</label>
          <div class="col-sm-5 col-lg-7">
            <select class="form-control" ng-model="WageLimitsCtrl.direction" ng-change="WageLimitsCtrl.selectDirection()"
                ng-options="direction as direction.name for direction in WageLimitsCtrl.directions track by direction.id">
                <option value="" translate>increments.limits.combo.directions</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="WageLimitsCtrl.showTables" class="centerGeneral">
        <form novalidate name="LimitsForm">
            <div class="table_titulo col-xs-12">
                <h3 translate>increments.limits.table.limits</h3>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <table class="table table-bordered table_increments_individual table_limits text-center table-striped mt_20">
                <tr>
                    <th class="blue_span" translate>increments.limits.table.limits.header.banda</th>
                    <th class="blue_span" translate>increments.limits.table.limits.header.min</th>
                    <th class="blue_span" translate>increments.limits.table.limits.header.med</th>
                    <th class="blue_span" translate>increments.limits.table.limits.header.max</th>
                </tr>

                <tr ng-repeat="(position, values) in WageLimitsCtrl.limits.business">
                    <td>
                        <span class="uppercase">{{position}} </span>
                        <span translate>increments.limits.business</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input required type="number" name="Business.V{{$index + 1}}.minValue" ng-model="values.minValue"> {{WageLimitsCtrl.currency}}
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave">{{values.minValue}} {{WageLimitsCtrl.currency}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input required type="number" name="Business.V{{$index + 1}}.medValue" ng-model="values.medValue">{{WageLimitsCtrl.currency}}
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave">{{values.medValue}} {{WageLimitsCtrl.currency}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input required type="number" name="Business.V{{$index + 1}}.maxValue" ng-model="values.maxValue">{{WageLimitsCtrl.currency}}
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave">{{values.maxValue}} {{WageLimitsCtrl.currency}}</span>
                    </td>
                </tr>
                <tr ng-repeat="(position, values) in WageLimitsCtrl.limits.staff">
                    <td>
                        <span class="uppercase">{{position}} </span>
                        <span translate>increments.limits.staff</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input required type="number" name="Staff.V{{$index + 1}}.minValue" ng-model="values.minValue">{{WageLimitsCtrl.currency}}
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave">{{values.minValue}} {{WageLimitsCtrl.currency}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input required type="number" name="Staff.V{{$index + 1}}.medValue" ng-model="values.medValue">{{WageLimitsCtrl.currency}}
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave">{{values.medValue}} {{WageLimitsCtrl.currency}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input required type="number" name="Staff.V{{$index + 1}}.maxValue" ng-model="values.maxValue">{{WageLimitsCtrl.currency}}
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave">{{values.maxValue}} {{WageLimitsCtrl.currency}}</span>
                    </td>
                </tr>
                </table>
            </div>

            <!-- Force hide this table for now... Only show information, calculations of the P percents -->
            <div ng-if="false" class="table_titulo col-xs-12">
                <h3 translate>increments.limits.table.position</h3>
            </div>
            <div class="col-lg-6 col-lg-offset-3" ng-if="false">
                <table class="table table-bordered table_increments_individual text-center table-striped mt_20">
                <tr>
                    <th class="blue_span" translate>increments.limits.table.limits.header.banda</th>
                    <th class="blue_span" translate>increments.limits.table.position.header.p1</th>
                    <th class="blue_span" translate>increments.limits.table.position.header.p2</th>
                    <th class="blue_span" translate>increments.limits.table.position.header.p3</th>
                </tr>

                <tr ng-repeat="(position, values) in WageLimitsCtrl.positions.business">
                    <td>
                        <span class="uppercase">{{position}} </span>
                        <span translate>increments.limits.business</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input type="number" ng-model="values.minValue">
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave" translate>{{values.minValue}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input type="number" ng-model="values.medValue">
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave" translate>{{values.medValue}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input type="number" ng-model="values.maxValue">
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave" translate>{{values.maxValue}}</span>
                    </td>
                </tr>
                <tr ng-repeat="(position, values) in WageLimitsCtrl.positions.staff">
                    <td>
                        <span class="uppercase">{{position}} </span>
                        <span translate>increments.limits.staff</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input type="number" name="input" ng-model="values.minValue">
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave" translate>{{values.minValue}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input type="number" name="input" ng-model="values.medValue">
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave" translate>{{values.medValue}}</span>
                    </td>
                    <td>
                        <div ng-if="WageLimitsCtrl.canSave">
                            <input type="number" name="input" ng-model="values.maxValue">
                        </div>
                        <span ng-if="!WageLimitsCtrl.canSave" translate>{{values.maxValue}}</span>
                    </td>
                </tr>
                </table>
            </div>

            <div ng-if="LimitsForm.$invalid">
                Existen errores en las tablas. Por favor reviselas.
            </div>

            <button class="boton_general" ng-if="WageLimitsCtrl.canSave" ng-click="WageLimitsCtrl.saveLimits()" translate>increments.limits.button.save</button>
        </form>
    </div>
	</section>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{WageLimitsCtrl.Modal.title | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{WageLimitsCtrl.Modal.msg | translate}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="WageLimitsCtrl.Modal.action()" data-dismiss="modal">{{WageLimitsCtrl.Modal.button | translate}}</button>
            </div>
            </div>
        </div>  
    </div>
</article>


